<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Slots</title>
    <style type="text/css">
        body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #333;
	background-color:white;
    }

    .a1 {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6{
	    font-weight: 200;
    }

    h1{
	    text-align: center;
	    padding-bottom: 10px;
	    border-bottom: 2px solid #41d037;
	    max-width: 40%;
	    margin: 20px auto;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: black;
    }
    button {
        background: #41d037;
        padding: 20px 10px 20px 10px;
        color: black;
    }

    </style>
</head>
<body>
    <h1>Do you want to fill slots of a fellow member?</h1>
    <button><a href="/">Click here</a></button>
    <br>
    <h1>Want to find the slots your group members are free</h1>
    <button><a href="/enterGroup">Click here</a></button>
</body>
</html>