<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter group</title>
    <style type="text/css">

        h1 {
        padding-bottom: 10px;
	    border-bottom: 2px solid #41d037;
	    max-width: 40%;
	    margin: 20px auto;
        }

        button {
        background: #41d037;
        padding: 20px 10px 20px 10px;
        color: black;
        }

    </style>
</head>
<body>
    <h1>Enter your group</h1>
    <form action="/freeSlot" method="POST">
        <input type='text' name="group" class="group" width="15" placeholder="Enter your group">
        <input class="submit" type="submit" value="Submit">  
    </form>
    
    
</body>
</html>